<section class="pt-5">
    <div class="container pt-5">
        <div class="cont pt-1">
            <h2 class="w-100 text-center fs-1 fw-bold pt-4">CONTACT SECTION</h2>
        <div class="line d-flex justify-content-center pb-3 mt-3">
            <div class="r-l-line me-3 mt-2"></div>
            <i class="fa-solid fa-star fs-5"></i>
            <div class="r-l-line ms-3 mt-2"></div>
        </div>
        
        <div class="w-50 mx-auto py-5">
            <div class="form-floating mb-3">
                <input 
                  type="text" 
                  class="form-control border-0 border-bottom rounded-0" 
                  id="productName"
                  placeholder="name@example.com"
                  
                  >
        
                <label for="productName" class="text-secondary">userName</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" 
                class="form-control border-0 border-bottom rounded-0" 
                id="productPrice"
                placeholder="name@example.com"
                >
        
                <label for="productPrice" class="text-secondary">userAge</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" 
                class="form-control border-0 border-bottom rounded-0" 
                id="productPrice"
                placeholder="name@example.com"
                >
        
                <label for="productPrice" class="text-secondary">userEmail</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" 
                class="form-control border-0 border-bottom rounded-0" 
                id="productPrice"
                placeholder="name@example.com"
                
                >
        
                <label for="productPrice" class="text-secondary">userPassword</label>
            </div>
        
            <button id="addButton" class="btn  text-light my-2 d-block" onclick="addProduct()"> Add Product</button>
        </div>
        </div>
        
    </div>
</section>