<section class="h-100 pt-5 pb-5">
    <div class="cnt1 pt-5  ">
        <div class="container">
           
            <div class="cont pb-5 pt-5 w-75 mx-auto ">
                <div class="img w-100 mx-auto pt-5 d-flex justify-content-center align-items-center ">
                    <img src="./assets/images/avataaars.svg" class=" w-25" alt="">
                </div>
                <h2 class="w-100 text-center fs-1 text-light pt-5 fw-bold">START FRAMEWORK</h2>
            <div class="line d-flex justify-content-center pb-3 mt-3">
                <div class="r-l-line me-3 mt-2"></div>
                <i class="fa-solid fa-star text-light fs-5"></i>
                <div class="r-l-line ms-3 mt-2"></div>
            </div>
            <div class="text2 text-center text-light">
                <p>Graphic Artist - Web Designer - Illustrator</p>
            </div>
            
            </div>
        </div>
    </div>
    
</section>


<section></section>