<section class="h-100 pb-4 pt-5 ">
    <div class="cnt1 pt-5">
        <div class="container pt-5">
            <div class="cont">
                <h2 class="w-100 text-center fs-1 fw-bold">PORTFOLIO COMPONENT</h2>
            <div class="line d-flex justify-content-center pb-3 mt-3">
                <div class="r-l-line me-3 mt-2"></div>
                <i class="fa-solid fa-star fs-5"></i>
                <div class="r-l-line ms-3 mt-2"></div>
            </div>

            <div class="row gy-5 gx-5">
                <div class="item  col-md-6 col-lg-4">
                    <div class="card position-relative">
                        <div class="layer position-absolute start-0 bottom-0 w-100 top-0 d-flex justify-content-center align-items-center">
                            <i _ngcontent-wmr-c19="" class="text-white fa-solid fa-plus fa-6x"></i>
                        </div>
                        <img src="../assets/images/portfolio/poert1.png" class="card-img-top" alt="...">
                      </div>
                </div>
                <div class="item col-md-6 col-lg-4">
                    <div class="card position-relative">
                        <div class="layer position-absolute start-0 bottom-0 w-100 top-0 d-flex justify-content-center align-items-center">
                            <i _ngcontent-wmr-c19="" class="text-white fa-solid fa-plus fa-6x"></i>
                        </div>
                        <img src="../assets/images/portfolio/port2.png" class="card-img-top" alt="...">
                      </div>
                </div>
                <div class="item col-md-6 col-lg-4">
                    <div class="card position-relative">
                        <div class="layer position-absolute start-0 bottom-0 w-100 top-0 d-flex justify-content-center align-items-center">
                            <i _ngcontent-wmr-c19="" class="text-white fa-solid fa-plus fa-6x"></i>
                        </div>
                        <img src="../assets/images/portfolio/port3.png" class="card-img-top" alt="...">
                      </div>
                </div>
                <div class="item col-md-6 col-lg-4">
                    <div class="card position-relative">
                        <div class="layer position-absolute start-0 bottom-0 w-100 top-0 d-flex justify-content-center align-items-center">
                            <i _ngcontent-wmr-c19="" class="text-white fa-solid fa-plus fa-6x"></i>
                        </div>
                        <img src="../assets/images/portfolio/poert1.png" class="card-img-top" alt="...">
                      </div>
                </div>
                <div class="item col-md-6 col-lg-4">
                    <div class="card position-relative">
                        <div class="layer position-absolute start-0 bottom-0 w-100 top-0 d-flex justify-content-center align-items-center">
                            <i _ngcontent-wmr-c19="" class="text-white fa-solid fa-plus fa-6x"></i>
                        </div>
                        <img src="../assets/images/portfolio/port2.png" class="card-img-top" alt="...">
                      </div>
                </div>
                <div class="item col-md-6 col-lg-4">
                    <div class="card position-relative">
                        <div class="layer position-absolute start-0 bottom-0 w-100 top-0 d-flex justify-content-center align-items-center">
                            <i _ngcontent-wmr-c19="" class="text-white fa-solid fa-plus fa-6x"></i>
                        </div>
                        <img src="../assets/images/portfolio/port3.png" class="card-img-top" alt="...">
                      </div>
                </div>
              
               
            </div>
            
            </div>
        </div>
    </div>
    
</section>