<section class="h-100 pb-5">
    <div class="cnt1 pt-5 pb-5">
        <div class="container pt-5 pb-5">
            <div class="cont pt-4 pb-5">
                <h2 class="w-100 text-center fs-1 text-light pt-5 fw-bold">ABOUT COMPONENT</h2>
            <div class="line d-flex justify-content-center pb-3 mt-3">
                <div class="r-l-line me-3 mt-2"></div>
                <i class="fa-solid fa-star text-light fs-5"></i>
                <div class="r-l-line ms-3 mt-2"></div>
            </div>
            <div class="text d-flex justify-content-center pb-5">
                <p class="p1">Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
                <p>Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
            </div>
            </div>
        </div>
    </div>
    
</section>